{block content}

<div class="row">
    <div class="col s1"></div>
    <div class="col s11">
        {control order}
    </div>
</div>

<div class="row">
    <div class="col s1"></div>
    <div class="col s7">
        {control brands}
        {control paginator}
    </div>
    <div class="col s3">
        {control brandCategories}
    </div>
</div>